# Override defconfig here

# do not use, to keep module compat
# CONFIG_LOCALVERSION="-Jellybean"

CONFIG_DEBUG_FS=y

# CONFIG_KERNEL_LZMA is not set
CONFIG_KERNEL_LZO=y

# Loaded by pvr modules (jordan device tree)
# CONFIG_SGX530 is not set
# CONFIG_OMAPLFB is not set

CONFIG_SEC_DRIVER=m
CONFIG_KINETO_GAN=m

